n8n-workflow/dance-survey-workflow.json
{
  "name": "Dance Survey Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dance-survey",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "dance-survey-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "message",
              "value": "Данные успешно получены"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "smtpHost": "smtp.2gis.ru",
        "smtpPort": 587,
        "secure": false,
        "auth": {
          "user": "YOUR_EMAIL@2gis.ru",
          "pass": "YOUR_PASSWORD"
        },
        "from": "YOUR_EMAIL@2gis.ru",
        "to": "YOUR_WORK_EMAIL@2gis.ru",
        "subject": "={{ '[Новая анкета] Опрос по танцам от ' + $json.name }}",
        "text": "={{ '=== НОВАЯ АНКЕТА: ОПРОС ПО ТАНЦАМ ===\\n\\n👤 ИМЯ: ' + $json.name + '\\n📧 EMAIL: ' + $json.email + '\\n\\n💃 ИНТЕРЕСУЮЩИЕСЯ НАПРАВЛЕНИЯ:\\n' + $json.directions + '\\n\\n📝 ДРУГОЕ НАПРАВЛЕНИЕ:\\n' + ($json.other_direction || '-') + '\\n\\n💰 КОМФОРТНАЯ СТОИМОСТЬ:\\n' + $json.price + '\\n\\n⏱️ ДЛИТЕЛЬНОСТЬ ЗАНЯТИЯ:\\n' + $json.duration + '\\n\\n📅 ЧАСТОТА В НЕДЕЛЮ:\\n' + $json.frequency + '\\n\\n🕐 УДОБНОЕ ВРЕМЯ:\\n' + $json.schedule + '\\n\\n📊 ОПЫТ В ТАНЦАХ:\\n' + $json.experience + '\\n\\n📅 Дата отправки: ' + $now }}",
        "options": {}
      },
      "id": "email-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.smtp",
      "typeVersion": 1,
      "position": [550, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-18T11:12:00.000Z",
  "versionId": "3"
}
