n8n-workflow/dance-survey-workflow.json
{
  "name": "Dance Survey Form Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dance-survey",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "dance-survey-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "message",
              "value": "Данные успешно получены"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Функция для экранирования значений Google Sheets\nfunction escapeGoogleSheetValue(value) {\n  if (typeof value !== 'string') return value;\n  const firstChar = value.charAt(0);\n  if (firstChar === '=' || firstChar === '+' || firstChar === '-' || firstChar === '@') {\n    return \"'\" + value;\n  }\n  return value;\n}\n\n// Преобразуем directions из массива в читаемый текст\nif (Array.isArray(items[0].json.directions)) {\n  items[0].json.directions_readable = escapeGoogleSheetValue(\n    items[0].json.directions.join(', ')\n  );\n}\n\n// Преобразуем schedule — новые русские значения из формы\nconst scheduleMap = {\n  'Будни: Вечер (18:30 - 20:15)': 'Будни (Пн-Пт): Вечер 18:30-20:15',\n  'Будни: Поздний вечер (20:15 - 22:00)': 'Будни (Пн-Пт): Поздний вечер 20:15-22:00',\n  'Выходные: Утро (09:00 - 13:00)': 'Выходные (Сб-Вс): Утро 09:00-13:00',\n  'Выходные: День (13:00 - 17:00)': 'Выходные (Сб-Вс): День 13:00-17:00',\n  'Выходные: Вечер (17:00 - 21:00)': 'Выходные (Сб-Вс): Вечер 17:00-21:00',\n  'Любой день и время': 'Готова в любое время'\n};\n\nif (items[0].json.schedule) {\n  const schedules = typeof items[0].json.schedule === 'string' \n    ? items[0].json.schedule.split(', ').filter(Boolean)\n    : [items[0].json.schedule];\n  items[0].json.schedule_readable = escapeGoogleSheetValue(\n    schedules.map(v => scheduleMap[v.trim()] || v).join(', ')\n  );\n}\n\nreturn items;"
      },
      "id": "code-node",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Ответы на опрос"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "directions": "={{ $json.directions_readable || $json.directions }}",
            "other_direction": "={{ $json.other_direction }}",
            "price": "={{ $json.price }}",
            "duration": "={{ $json.duration }}",
            "frequency": "={{ $json.frequency }}",
            "schedule": "={{ $json.schedule_readable || $json.schedule }}",
            "experience": "={{ $json.experience }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "google-sheets-node",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-18T11:12:00.000Z",
  "versionId": "3"
}
